<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= google_tag_manager_script_tag('voxiplan') %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Voxiplan</title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
    <![endif]-->
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js" %>
  <script>
      WebFont.load({ google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]}, active: function() {sessionStorage.fonts = true;}});
  </script>
  <%= stylesheet_link_tag    'application-v3', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'plugins/plugins.bundle', media: 'all', 'data-turbolinks-track' => true %>


  <%= javascript_include_tag 'plugins/plugins.bundle', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application-v3', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body id="kt_body" class="bg-body">
<%= google_tag_manager_noscript_tag('voxiplan') %>
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
  <!--begin::Authentication - Sign-up -->
  <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
    <!--begin::Content-->
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
      <!--begin::Logo-->
      <a href="/" class="mb-12">
        <img alt="Logo" src="/assets/voxi_logo.png" class="h-45px" />
      </a>
      <!--end::Logo-->
      <!--begin::Wrapper-->
      <div class="<%= URI.parse(request.original_url).path == '/signup' ? 'w-lg-600px' : 'w-lg-500px' %> bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
        <%= flash_messages %>
        <div class="text-end" style="margin-top: -20px">
          <!--begin::Menu-->
          <div class="menu menu-rounded menu-column menu-gray-600 menu-state-bg fw-semibold w-80px" data-kt-menu="true" style="float:right">
            <div class="menu-item" data-kt-menu-trigger="hover" data-kt-menu-placement="bottom-end">
              <a href="#" class="menu-link py-3 bg-hover-light-primary">
                <span class="menu-title text-primary"><%= t('locales.' + (I18n.locale.to_s || 'en')) %></span>
              </a>
              <%= render 'layouts/language' %>
            </div>
          </div>
          <!--end::Menu-->
        </div>

        <%= form_for('', url: ENV['ORY_URL'] + "/self-service/recovery?flow=" + @flow, html: { method: :post, class: "form w-100" }) do |f| %>
          <!--begin::Heading-->
          <div class="text-center mb-10 mt-15">
            <!--begin::Title-->
            <h1 class="text-dark mb-3"><%= t('devise.passwords.new.forgot_your_password', default: 'Forgot your password?') %></h1>
            <!--end::Title-->
            <!--begin::Link-->
            <% if @state == 'choose_method' %>
              <div class="text-gray-400 fw-bold fs-4"><%= t('ory.recovery.caption1') %></div>
            <% elsif @state == 'sent_email' %>
              <div class="text-gray-400 fw-bold fs-4"><%= t('ory.recovery.caption2') %></div>
            <% else %>
            <% end %>

            <%= f.hidden_field :csrf_token, value: @csrf_token %>
            <%= f.hidden_field :method, value: "code" %>
            <!--end::Link-->
          </div>
          <!--begin::Heading-->
          <!--begin::Input group-->
          <% if @state == 'choose_method' %>
            <div class="fv-row mb-10">
              <label class="form-label fw-bolder text-gray-900 fs-6"><%= t('placeholders.email') %></label>
              <%= f.email_field :email, autofocus: true, class: "form-control form-control-lg form-control-solid", id: "m_inputmask_9", autocomplete: "off", required: true %>
            </div>
          <% elsif @state == 'sent_email' %>
            <div class="fv-row mb-10">
              <label class="form-label fw-bolder text-gray-900 fs-6"><%= t('placeholders.code') %></label>
              <%= f.text_field :code, autofocus: true, class: "form-control form-control-lg form-control-solid", id: "m_inputmask_9", autocomplete: "off" %>
            </div>
          <% else %>
          <% end %>

          <!--end::Input group-->
          <!--begin::Actions-->
          <div class="d-flex flex-wrap justify-content-center pb-lg-0">
            <button type="submit" id="kt_password_reset_submit" class="btn btn-lg btn-primary fw-bolder">
              <% if @state == 'choose_method' %>
                <span class="indicator-label"><%= t('ory.recovery.send') %></span>
              <% elsif @state == 'sent_email' %>
                <span class="indicator-label"><%= t('ory.recovery.submit') %></span>
              <% else %>
              <% end %>
              <span class="indicator-progress"><%= t('common.please_wait') %>
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </button>
            <% if @state == 'choose_method' %>
              <a href="/" class="btn btn-lg btn-light-primary fw-bolder" style="margin-left: 30px;"><%= t('button.cancel') %></a>
            <% elsif @state == 'sent_email' %>
              <button type="submit" name="email" value="<%=@email %>" id="kt_password_reset_submit" class="btn btn-lg btn-light-primary fw-bolder" style="margin-left: 30px;">
                <span class="indicator-label"><%= t('ory.recovery.resend') %></span>
              </button>
            <% end %>
          </div>
          <!--end::Actions-->
        <% end %>
      </div>
      <!--end::Wrapper-->
    </div>

    <!--end::Content-->
  </div>
  <!--end::Authentication - Sign-up-->
</div>
</body>
</html>
