<link rel="stylesheet" href="/assets/countrySelect.css">
<link rel="stylesheet" href="/assets/intlTelInput.min.css">
<style>
    .iti {
        width: 100%;
    }
    .iti__flag {background-image: url("/assets/flags.png");}

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .iti__flag {background-image: url("/assets/flags@2x.png");}
    }
</style>
<div class="toolbar" id="kt_toolbar">
  <!--begin::Container-->
  <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
    <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
         class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
      <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3"><%= t('contact_us.title') %></h1>
    </div>
    <div class="d-flex align-items-center py-1"></div>
  </div>
</div>

<div class="post d-flex flex-column-fluid" id="kt_post">
  <!--begin::Container-->
  <div class="container mw-600px">
    <div class="card mb-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-7">
              <label class="form-label"><%= t('contact_us.first_name') %><span class="text-danger">*</span></label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-7">
              <label class="form-label"><%= t('contact_us.last_name') %><span class="text-danger">*</span></label>
              <input type="text" class="form-control" >
            </div>
          </div>
        </div>
        <div class="mb-7">
          <label class="form-label"><%= t('contact_us.email') %><span class="text-danger">*</span></label>
          <input type="email" class="form-control" >
        </div>
        <div class="mb-7">
          <label class="form-label"><%= t('contact_us.company') %><span class="text-danger">*</span></label>
          <input type="text" class="form-control" >
        </div>
        <div class="mb-7">
          <label class="form-label"><%= t('contact_us.phone_number') %><span class="text-danger">*</span></label>
          <div>
            <input class="form-control m-input" id="phone_number">
            <span id="phone-valid-msg" class="hide" style="display: none;float: left;color: #00C900"><%= t('customers.valid_phone_number') %></span>
            <span id="phone-error-msg" class="hide" style="display: none;float: left;color: #f4516c"><%= t('customers.invalid_phone_number') %></span>
          </div>
        </div>
        <div class="mb-0">
          <label class="form-label"><%= t('contact_us.enter_detail') %><span class="text-danger">*</span></label>
          <textarea class="form-control" rows="4"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light"><%= t('common.button.cancel') %></button>
        <button type="button" class="btn btn-primary"><%= t('common.button.submit') %></button>
      </div>
    </div>
  </div>
  <!--end::Container-->
</div>

<script src="/assets/intlTelInput.min.js"></script>
<script src="/assets/countrySelect.min.js"></script>


<script>
    var IPdata_key = "<%= ENV['IPdata_key'] %>"

    var input = document.querySelector("#phone_number");
    iti = window.intlTelInput(input, {
        initialCountry: "auto",
        utilsScript: "/assets/utils.js",
        preferredCountries: ["fr", "be", "de", "gb", "us", "ca"],
        geoIpLookup: function (callback) {
            $.get("https://api.ipdata.co?api-key=" + IPdata_key, function () {
            }, "jsonp").always(function (resp) {
                const countryCode = (resp && resp.country_code) ? resp.country_code : "fr";
                callback(countryCode);
            }).fail(function() {
                callback('fr');
            });
        }
    });

    $('#phone_number').on('change', function () {
        reset();
        if (iti.isValidNumber()) {
            $("#phone-valid-msg").show();
        } else {
            $('#phone').css("border-color", "#f4516c");
            $("#phone-error-msg").show();
        }
    })
</script>