<%= form_tag({controller: "appoinments_scheduling", action: "save_business_hours"} , method: "post" , remote: "true", class: "form") do %>
  <%= hidden_field_tag :ivr_id, params[:ivr_id] %>
  <div class="d-flex flex-column h-100">
    <!--begin::Wrapper-->
    <div class="w-100">
      <!--begin::Alert-->
      <div class="alert alert-dismissible bg-light-warning border border-warning d-flex align-items-center flex-column flex-sm-row w-100 py-3 px-5 mb-10">
        <!--begin::Icon-->
        <!--begin::Svg Icon | path: icons/duotone/Code/Warning-2.svg-->
        <span class="svg-icon svg-icon-2x svg-icon-warning me-3 mb-5 mb-sm-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                  <path d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z"
                                        fill="#000000" opacity="0.3" />
                                  <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1" />
                                  <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1" />
                                </svg>
                              </span>
        <!--end::Svg Icon-->
        <!--end::Icon-->
        <!--begin::Content-->
        <div class="d-flex flex-column pe-0 pe-sm-10">
          <span class="fw-bold text-warning"><%= t('business_hours.alert') %></span>
        </div>
        <!--end::Content-->
        <!--begin::Close-->
        <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon w-auto h-auto ms-sm-auto" data-bs-dismiss="alert">
          <i class="bi bi-x fs-1 text-warning"></i>
        </button>
        <!--end::Close-->
      </div>
      <!--end::Alert-->
      <div class="row">
        <div class="col">
          <label class="form-label"><%= t('business_hours.help_text') %></label>
        </div>
      </div>
      <div id="availability_customize_content">
        <div class="pt-0">
          <div class="card card-bordered">
            <div class="card-body p-0">
              <div class="row gx-0">
                <div class="col-md">
                  <%= render 'shared/availability_week', availability: @customize_availability %>
                </div>
                <div class="col-md-auto w-md-400px border-start 123">
                  <%= render 'shared/availability_date_override', overrides: @customize_overrides %>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-outline btn-outline-primary btn-color-primary btn-active-color-white ms-5 d-none" id="save_default_hours"><%= t('button.save') %></button>
          </div>
        </div>
      </div>

    </div>
    <!--end::Wrapper-->

    <!--begin::Actions-->
    <div class="d-flex justify-content-end flex-stack mt-10">
      <button type="submit" class="btn btn-outline btn-outline-primary btn-color-primary btn-active-color-white ms-5" id="save_business_hours">
        <!--begin::Svg Icon | path: icons/duotone/Navigation/Double-check.svg-->
        <span class="svg-icon svg-icon-2x me-1">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <polygon points="0 0 24 0 24 24 0 24" />
                          <path d="M9.26193932,16.6476484 C8.90425297,17.0684559 8.27315905,17.1196257 7.85235158,16.7619393 C7.43154411,16.404253 7.38037434,15.773159 7.73806068,15.3523516 L16.2380607,5.35235158 C16.6013618,4.92493855 17.2451015,4.87991302 17.6643638,5.25259068 L22.1643638,9.25259068 C22.5771466,9.6195087 22.6143273,10.2515811 22.2474093,10.6643638 C21.8804913,11.0771466 21.2484189,11.1143273 20.8356362,10.7474093 L17.0997854,7.42665306 L9.26193932,16.6476484 Z"
                                fill="#000000" fill-rule="nonzero" opacity="0.5" transform="translate(14.999995, 11.000002) rotate(-180.000000) translate(-14.999995, -11.000002) " />
                          <path d="M4.26193932,17.6476484 C3.90425297,18.0684559 3.27315905,18.1196257 2.85235158,17.7619393 C2.43154411,17.404253 2.38037434,16.773159 2.73806068,16.3523516 L11.2380607,6.35235158 C11.6013618,5.92493855 12.2451015,5.87991302 12.6643638,6.25259068 L17.1643638,10.2525907 C17.5771466,10.6195087 17.6143273,11.2515811 17.2474093,11.6643638 C16.8804913,12.0771466 16.2484189,12.1143273 15.8356362,11.7474093 L12.0997854,8.42665306 L4.26193932,17.6476484 Z"
                                fill="#000000" fill-rule="nonzero" transform="translate(9.999995, 12.000002) rotate(-180.000000) translate(-9.999995, -12.000002) " />
                      </g>
                  </svg>
                </span>
        <!--end::Svg Icon-->
        <%= t('button.save') %>
      </button>
    </div>
    <!--end::Actions-->
  </div>
<% end %>
