
<div class="card mb-7">
  <div class="card card-bordered mb-7">
    <div class="card-header">
      <div class="card-toolbar">
        <h6 class="fw-bold fs-4 mb-0 text-muted"><%= t('onboarding.connect_calendar.title_description') %></h6>
      </div>
    </div>
    <!--begin::Header-->
    <div class="card-header">
      <div class="card-title">
        <div class="me-3"><img src="/assets/onboarding/google-icon.svg" alt="Google" class="w-30px"></div>
        <%= t('onboarding.connect_calendar.google_company') %>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body">
      <!--begin::Card-->
      <div class="card card-dashed flex-row flex-stack flex-wrap p-6">
        <!--begin::Info-->
        <div class="d-flex flex-column py-2">
          <!--begin::Wrapper-->
          <div class="d-flex align-items-center">
            <!--begin::Icon-->
            <img src="/assets/onboarding/google-calendar.svg" alt="Google Calendar" class="w-50px me-4">
            <!--end::Icon-->
            <!--begin::Details-->
            <div>
              <div class="fs-4 fw-bolder"><%= t('onboarding.connect_calendar.google') %></div>
              <div class="fs-6 fw-bold text-gray-400"><%= t('onboarding.connect_calendar.google_detail') %></div>
            </div>
            <!--end::Details-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Info-->
        <!--begin::Actions-->
        <div class="d-flex align-items-center py-2">
          <button type="button" data-provider-name="google" class="btn btn-sm btn-light btn-active-light-primary btn-connect"><%= t('common.button.connect') %></button>
        </div>
        <!--end::Actions-->
      </div>
      <!--end::Card-->
    </div>
    <!--end::Body-->
  </div>

  <div class="card card-bordered mb-7">
    <!--begin::Header-->
    <div class="card-header">
      <div class="card-title">
        <div class="me-3">
          <img src="/assets/onboarding/microsoft-5.svg" alt="Microsoft" class="w-30px">
        </div>
        <%= t('onboarding.connect_calendar.microsoft_company') %>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body">
      <!--begin::Card-->
      <div class="card card-dashed flex-row flex-stack flex-wrap p-6 mb-4">
        <!--begin::Info-->
        <div class="d-flex flex-column py-2">
          <!--begin::Wrapper-->
          <div class="d-flex align-items-center">
            <!--begin::Icon-->
            <img src="/assets/onboarding/office-365-calendar.svg" alt="Office 365 Calendar" class="w-50px me-4">
            <!--end::Icon-->
            <!--begin::Details-->
            <div>
              <div class="fs-4 fw-bolder"><%= t('onboarding.connect_calendar.office_365') %></div>
              <div class="fs-6 fw-bold text-gray-400"><%= t('onboarding.connect_calendar.office_365_detail') %></div>
            </div>
            <!--end::Details-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Info-->
        <!--begin::Actions-->
        <div class="d-flex align-items-center py-2">
          <button type="button" data-provider-name="office365" class="btn btn-sm btn-light btn-active-light-primary btn-connect "><%= t('common.button.connect') %></button>
        </div>
        <!--end::Actions-->
      </div>
      <!--end::Card-->
      <!--begin::Card-->
      <div class="card card-dashed flex-row flex-stack flex-wrap p-6 mb-4">
        <!--begin::Info-->
        <div class="d-flex flex-column py-2">
          <!--begin::Wrapper-->
          <div class="d-flex align-items-center">
            <!--begin::Icon-->
            <img src="/assets/onboarding/exchange-calendar.svg" alt="Exchange Calendar" class="w-50px me-4">
            <!--end::Icon-->
            <!--begin::Details-->
            <div>
              <div class="fs-4 fw-bolder"><%= t('onboarding.connect_calendar.exchange') %></div>
              <div class="fs-6 fw-bold text-gray-400"><%= t('onboarding.connect_calendar.exchange_detail') %></div>
            </div>
            <!--end::Details-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Info-->
        <!--begin::Actions-->
        <div class="d-flex align-items-center py-2">
          <button type="button" data-provider-name="exchange" class="btn btn-sm btn-light btn-active-light-primary btn-connect"><%= t('common.button.connect') %></button>
        </div>
        <!--end::Actions-->
      </div>
      <!--end::Card-->
      <!--begin::Card-->
      <div class="card card-dashed flex-row flex-stack flex-wrap p-6">
        <!--begin::Info-->
        <div class="d-flex flex-column py-2">
          <!--begin::Wrapper-->
          <div class="d-flex align-items-center">
            <!--begin::Icon-->
            <img src="/assets/onboarding/outlook-plug-in.svg" alt="Outlook Plug-In" class="w-50px me-4">
            <!--end::Icon-->
            <!--begin::Details-->
            <div>
              <div class="fs-4 fw-bolder"><%= t('onboarding.connect_calendar.outlook') %></div>
              <div class="fs-6 fw-bold text-gray-400"><%= t('onboarding.connect_calendar.outlook_detail') %></div>
            </div>
            <!--end::Details-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Info-->
        <!--begin::Actions-->
        <div class="d-flex align-items-center py-2">
          <button type="button" data-provider-name="live_connect" class="btn btn-sm btn-light btn-active-light-primary btn-connect"><%= t('common.button.connect') %></button>
        </div>
        <!--end::Actions-->
      </div>
      <!--end::Card-->
    </div>
    <!--end::Body-->
  </div>

  <div class="card card-bordered mb-7">
    <!--begin::Header-->
    <div class="card-header">
      <div class="card-title">
        <div class="me-3">
          <img src="/assets/onboarding/apple-black.svg" alt="Apple" class="w-30px">
        </div>
        <%= t('onboarding.connect_calendar.apple_company') %>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body">
      <!--begin::Card-->
      <div class="card card-dashed flex-row flex-stack flex-wrap p-6">
        <!--begin::Info-->
        <div class="d-flex flex-column py-2">
          <!--begin::Wrapper-->
          <div class="d-flex align-items-center">
            <!--begin::Icon-->
            <img src="/assets/onboarding/icloud-calendar.svg" alt="iCloud Calendar" class="w-50px me-4">
            <!--end::Icon-->
            <!--begin::Details-->
            <div>
              <div class="fs-4 fw-bolder"><%= t('onboarding.connect_calendar.icloud') %></div>
              <div class="fs-6 fw-bold text-gray-400"><%= t('onboarding.connect_calendar.icloud_detail') %></div>
            </div>
            <!--end::Details-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Info-->
        <!--begin::Actions-->
        <div class="d-flex align-items-center py-2">
          <button type="button" data-provider-name="apple" class="btn btn-sm btn-light btn-active-light-primary btn-connect"><%= t('common.button.connect') %></button>
        </div>
        <!--end::Actions-->
      </div>
      <!--end::Card-->
    </div>
  </div>

</div>
